body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #b92b27, #1565c0)

}

.row {
    height:700px;
    background:#475d62 url(http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg);
    background-size:cover;
 

  
    
}

.row input[type="text"],
.row input[type="password"],
.row select {
    border: 0;
    background:opacify($color: #222, $amount: 0) ;
    display:ruby-text-container;
    margin: 10px auto;
    text-align: center;
    border: 4px solid #3498db;
    padding: 5px 10px;
    width: 200px;
    outline: none;
    color:slateblue;
    border-radius: 25px;
    transition: 0.25s
}
.row label{
    color:peru;

  
}

.row h2,h4 {
    color:violet;
    text-transform: uppercase;
    font-weight: 500;
}
.row label:hover{
   color: yellow;
}
.row h2:hover{
    color:yellow;
}
.row a{
    color:white;
}
.row a:hover{
    color:palegoldenrod;
}
.row input[type="text"]:focus,
.row input[type="password"]:focus,
.row select:focus {
    width: 300px;
    border-color: #2ecc71
}
.row option{
    background-color:black;
}

.row  button[type="submit"] {
    border: 0;
    background:floralwhite;
    display: block;
    margin: 15px auto;
    text-align: center;
    border: 3px solid #2ecc71;
    padding: 10px 15px;
    outline:deepskyblue;
    color:darkgoldenrod;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer
}



::placeholder {
    color:white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color:white;
  }
  .pages{
    position:absolute;
    top:10%;
    left:10%;
    visibility: hidden;

}
.form-control{
    width:100%;
    border-radius:5px;
    border: 2px solid rgba(76, 46, 207, 0.856);
    font-size: 13px;
    font-family:monospace;
    
    }
