body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    background: linear-gradient(to right, #b92b27, #1565c0)
}

.row {
    width: 300px;
    left: 150%;
    padding: 20px;
    position:relative;
    text-align:center;
    transition: 0.25s;
    margin-top: 100px
}

.row input[type="text"],
.row input[type="password"],
.row select {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 3px solid #3498db;
    padding: 5px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s
}
.row label{
    color:aliceblue;
}

.row h2,h4 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.row label:hover{
   color: yellow;
}
.row h2:hover{
    color:yellow;
}
.row a{
    color:white;
}
.row a:hover{
    color:palegoldenrod;
}
.row input[type="text"]:focus,
.row input[type="password"]:focus,
.row select:focus {
    width: 300px;
    border-color: #2ecc71
}
.row option{
    background-color:black;
}

.row  button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.row 
button[type="submit"]:hover {
    background:rebeccapurple
}

::placeholder {
    color:white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color:white;
  }
  .pages{
    position:absolute;
    top:10%;
    left:10%;
    visibility: hidden;

}
.form-control{
    width:100%;
    border-radius:5px;
    border: 2px solid rgba(76, 46, 207, 0.856);
    font-size: 13px;
    font-family:monospace;
    
    }
